# Archivos generados por Node.js y npm
node_modules/
npm-debug.log
yarn-error.log

# Archivos generados por Angular CLI
/dist/
/node_modules/
/.angular-cli.json
/.ng_build/
/src/environments/environment.ts

# Archivos generados por Express.js
/logs/

# Archivos de configuración local (ajusta según tus necesidades)
/config/config.json

# Archivos de registro y datos de PostgreSQL (ajusta según tus necesidades)
/data/
/log/
/backup/

# Archivos temporales
*.swp

# Archivos de entorno (ajusta según tus necesidades)
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de dependencias de tipo
/types/

# Carpeta de compilación de TypeScript
/dist/
